body {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
.content {
    display: block;
    width: 100%;
    height: 100%;
}
.contr {
    position: absolute;
    width: 170px;
    height: 50px;
    top:10px;
    left: 50%;
    transform: translateX(-100px);
    border:1px dashed #cccccc;
}
#github {
    cursor: pointer;
    position: relative;
    width: 32px;
    margin: 7px;
}
#dragType {
    width: 100px;
    height: 30px;
    padding: 2px 5px;
    user-select: none;
    text-align: center;
    font-size: 14px;
    top: -15px;
    position: relative;
    cursor: pointer;
}
#dragElement {
    width: 100px;
    height: 220px;
    position: absolute;
    border:1px solid blue;
    border-radius: 5px;
    display: inline-block;
}